p:nth-child(5) {
   background: revert;
   box-shadow: revert;
   padding: revert;
}

a {
   font-size: 12px;
}

/* TODO: Add styles here */
body
{
   font-family: Arial, sans-serif;
   background: radial-gradient(circle, white, lightgray);
}

/* hello */

/*this is a test*/
